env:
  aws:
    access: AWS_ACCESS_KEY_PLACEHOLDER
    secret: AWS_SECRET_PLACEHOLDER
    region: eu-central-1
    bucket: icu-cyclone-cars-public
  jwt:
    secret: JWT_SECRET_LONGER_THAN_256_BITS_PLACEHOLDER
  postgres:
    username: POSTGRES_USERNAME_PLACEHOLDER
    password: POSTGRES_PASSWORD_PLACEHOLDER
